<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"></link>
    <title>Title</title>
</head>
<body>
    <p class="dummy-class" th:text="'Hello, sweet child o mine!'" />


    <div th:if="${dummy != null}">
        <h1>Result</h1>
        <ul>
            <th:block th:object="${dummy}">
                <li th:each="item, stat : ${dummy}" th:text="${item.name}">Item description here...</li>
            </th:block>
        </ul>
    </div>
</body>
</html>