<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"></link>
    <title>Title</title>
</head>
<body>
<nav class="nav-primary hidden-xs nav-vertical main-menu" role="navigation" id="nav">
    <ul data-spy="affix" class="nav affix-top">
        <li class="side-menu">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Keep Track</a>
            </div>
        </li>
        <li class="side-menu">
            <div id="add-new-board" onclick="showNewBoardPopup();">
                <i class="fa glyphicon glyphicon-plus side-menu-text"></i>
                <span class="nav-text"> Add new board</span>
            </div>
        </li>
        <li class="side-menu">
            <div id="add-new-note" onclick="showNewNotePopup();">
                <i class="fa glyphicon glyphicon-plus side-menu-text"></i>
                <span class="nav-text"> Add new note </span>
            </div>
        </li>
    </ul>
</nav>
<div class="container-fluid" style="padding-left: 10%;">
    <div th:if="${board != null}">
        <ul>
            <th:block th:object="${board}">
                <li th:each="item, stat : ${board}" class="col-md-4">
                    <div class="board-box" th:if="${item.boardColor != null}" th:style="'background-color:' + ${item.boardColor} + ''">
                        <div class="board-name" th:text="${item.boardName}"></div>
                        <div th:if="${item.notes != null}">
                            <th:block th:object="${item.notes}">
                                <ul>
                                    <li th:each="noteItem, stat : ${item.notes}">
                                        <div class="note-excerpt">
                                            <div class="note-title" th:text="${noteItem.noteName}"></div>
                                        </div>
                                    </li>
                                </ul>
                            </th:block>
                        </div>
                    </div>
                </li>
            </th:block>
        </ul>
    </div>
</div>
<div class="new-board-popup" id="add-board" style="display: none">
    <div class="set-board-name">
        Name:
        <input id="new-board-name" name="boardName" type="text"/>
    </div>
    <div class="choose-board-color">
        Choose board color:
        <input id="new-board-color" name="boardColor" type="text"/>
    </div>

    <div class="save-board" id="save-board" onclick="addNewBoardAjax();">
        <input type="button" name="saveBoard" value="save"/>
    </div>
</div>

<script>
    jQuery(document).ready(function($) {

    });

    function showNewBoardPopup() {
        $("#add-board").dialog();
    }

    function showNewNotePopup() {
        $("#add-note").dialog();
    }

    function addNewBoardAjax() {
        var data = {boardName: $("#new-board-name").val(), boardColor:$("#new-board-color").val()};

        $.ajax({
            type : "POST",
            contentType : "application/json",
            url : "http://localhost:8501/add-new-board",
            data : JSON.stringify(data),
            dataType : 'json',
            timeout : 100000,
            success : function(data) {
                console.log("SUCCESS: ", data);
                $("#add-board").close();
            },
            error : function(e) {
                console.log("ERROR: ", e);
            },
            done : function(e) {
                console.log("DONE");
            }
        });
    }
</script>
</body>
</html>