<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"></link>
    <title>Title</title>
</head>
<body>
<nav class="nav-primary hidden-xs nav-vertical main-menu" role="navigation" id="nav">
    <ul data-spy="affix" class="nav affix-top">
        <li class="side-menu">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Keep Track</a>
            </div>
        </li>
        <li class="side-menu">
            <div id="add-new-board" onclick="showNewBoardPopup();" class="row">
                <i class="fa glyphicon glyphicon-plus side-menu-text col-md-3"></i>
                <div class="nav-text col-md-9"> Add new board</div>
            </div>
        </li>
        <li class="side-menu">
            <div id="add-new-note" onclick="showNewNotePopup();" class="row">
                <i class="fa glyphicon glyphicon-plus side-menu-text col-md-3"></i>
                <div class="nav-text col-md-9"> Add new note </div>
            </div>
        </li>
    </ul>
</nav>
<div class="container-fluid" style="padding-left: 10%;">
    <div th:if="${board != null}">
        <ul>
            <th:block th:object="${board}">
                <li th:each="item, stat : ${board}" class="col-md-4">
                    <div class="board-box" th:if="${item.boardColor != null}" th:style="'background-color:' + ${item.boardColor} + ''">
                        <div class="board-name" th:text="${item.boardName}"></div>
                        <div th:if="${item.notes != null}">
                            <th:block th:object="${item.notes}">
                                <ul>
                                    <li th:each="noteItem, stat : ${item.notes}">
                                        <div id="show-note" class="note-excerpt" th:onclick="'showNote(\'' + ${noteItem.noteId} + '\');'">
                                            <div class="note-title" th:text="${noteItem.noteName}"></div>
                                        </div>
                                        <div th:id="'note-' + ${noteItem.noteId}" style="display: none">
                                            <div id="shown-note" class="show-note">
                                                <div class="note-title" th:text="${noteItem.noteName}"></div>
                                                <div  th:id="'note-content-' + ${noteItem.noteId}">

                                                </div>
                                                <input type="hidden" th:id="'note-content-json-' + ${noteItem.noteId}" th:value="${noteItem.noteContent}"/>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </th:block>
                        </div>
                    </div>
                </li>
            </th:block>
        </ul>
    </div>
</div>

<div class="new-board-popup" id="add-board" style="display: none">
    <div class="set-board-name">
        Name:
        <input id="new-board-name" name="boardName" type="text"/>
    </div>
    <div class="choose-board-color">
        Choose board color:
        <select id="select-color" >
            <option value="" th:text="'select color ...'"></option>
            <option>pink</option>
            <option>bisque</option>
            <option>indianred</option>
            <option>lightcoral</option>
            <option>mediumslateblue</option>
        </select>
    </div>

    <div class="save-board" id="save-board" onclick="addNewBoardAjax();">
        <input type="button" name="saveBoard" value="save"/>
    </div>
</div>

<div class="new-note-popup" id="add-note" style="display: none">
    <div class="set-note-name">
        Name:
        <input id="new-note-title" name="noteName" type="text"/>
    </div>
    <div class="choose-board">
        Choose Board:
        <th:block th:object="${board}">
            <select id="select-board-for-note" >
                <option value="" th:text="'select board ...'"></option>
                <option th:each="item : ${board}" th:value="${item.boardId}"  th:text="${item.boardName}"></option>
            </select>
        </th:block>
    </div>
    <div class="note-items">
        <div class="note-item">
            <input class="note-item-checkbox" type="checkbox" name="noteItem" value=""/>
            <input class="note-item-text" name="noteItemText" type="text"/>
        </div>
    </div>
    <div class="btn btn-default add-more-items" onclick="addMoreItems();">+</div>
    <div class="save-note" id="save-note" onclick="addNewNoteAjax();">
        <input type="button" name="saveNote" value="save"/>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    jQuery(document).ready(function($) {

    });

    function showNewBoardPopup() {
        $("#add-board").dialog();
    }

    function showNewNotePopup() {
        $("#add-note").dialog();
    }

    function addMoreItems() {
        var template = '<div class="note-item"> <input class="note-item-checkbox" type="checkbox" name="noteItem" value=""/> <input class="note-item-text" name="noteItemText" type="text"/> </div>';
        $(".note-items").append(template);
        
    }

    function showNote(Id) {
        var items = JSON.parse($('#note-content-json-'+Id).val());
        $(items).each(function(ix, el){
            var isChecked=el.checked?'checked="checked"':"";
            var content = '<div id="note-item-display-'+Id+'-'+el.id+'" ><input onchange="updateNoteItems('+Id+');" type="checkbox" id="checkbox-for'+Id+'-'+el.id+'" '+isChecked+' /> <span>'+el.text+'</span> </div>';
            $('#note-content-'+Id).append(content);
        });
        $("#note-" + Id).dialog();
    }
    
    function addNewBoardAjax() {
        var data = {boardName: $("#new-board-name").val(), boardColor:$("#select-color").val()};

        $.ajax({
            type : "POST",
            url : "http://localhost:8501/add-new-board",
            contentType: "application/json",
            data : JSON.stringify(data),
            dataType : 'json',
            timeout : 100000,
            success : function(data) {
                console.log("SUCCESS: ", data);
                $("#add-board").dialog('close');
                window.location.href="/keep-track";
            },
            error : function(e) {
                console.log("ERROR: ", e);
                $("#add-board").dialog('close');
                window.location.href="/keep-track";
            },
            done : function(e) {
                console.log("DONE");
                $("#add-board").dialog('close');
                window.location.href="/keep-track";
            }
        });
    }

    function updateNoteItems(Id){
        var noteItems = [];

        var items = JSON.parse($('#note-content-json-'+Id).val());
        $(items).each(function(ix,element){
            var checkbox=element.checked;
            $('#checkbox-for'+Id+'-'+element.id).each(function (iix,checkboxInput) {
                checkbox = checkboxInput.checked;
            });

            var noteItem = {text:element.text, checked: checkbox,id:element.id};
            noteItems.push(noteItem);
        });
        console.log(noteItems);

        var data = {noteId:Id, noteContent: JSON.stringify(noteItems)};
        $.ajax({
            type : "POST",
            url : "http://localhost:8501/update-note",
            contentType: "application/json",
            data : JSON.stringify(data),
            dataType : 'json',
            timeout : 100000,
            success : function(data) {
                console.log("SUCCESS: ", data);
            },
            error : function(e) {
                console.log("ERROR: ", e);

            },
            done : function(e) {
                console.log("DONE");
            }
        });
    }

    function addNewNoteAjax() {
        var noteItems = [];
        var itemIndex = 0;
        $(".note-item").each(function(ix,element){
            var checkbox=false, text="";
            $(element).children('.note-item-checkbox').each(function (iix,checkboxInput) {
                checkbox = checkboxInput.checked;
            });
            $(element).children('.note-item-text').each(function (iiix,textInput) {
                text = $(textInput).val();
            });
           if (text != ''){
               var noteItem = {text:text, checked: checkbox,id:++itemIndex};
               noteItems.push(noteItem);
           }
        });
        console.log(noteItems);

        var data = {noteName: $("#new-note-title").val(), boardId: $("#select-board-for-note").val(), noteContent: JSON.stringify(noteItems)};

        $.ajax({
            type : "POST",
            url : "http://localhost:8501/add-new-note",
            contentType: "application/json",
            data : JSON.stringify(data),
            dataType : 'json',
            timeout : 100000,
            success : function(data) {
                console.log("SUCCESS: ", data);
                $("#add-note").dialog('close');
                window.location.href="/keep-track";
            },
            error : function(e) {
                console.log("ERROR: ", e);
                $("#add-note").dialog('close');
                window.location.href="/keep-track";
            },
            done : function(e) {
                console.log("DONE");
                $("#add-note").dialog('close');
                window.location.href="/keep-track";
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>